/**/
button{
  margin-top: 20px;
}

body{
  margin-top: 60px;
  background:DarkGray;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: whitesmoke;
}
